<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>Body</td>
      <td colspan='3'>Action</td>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td> <%=article.name %> </td>
      <td> <%=article.body %> </td>
      <td>Show</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <% end %>
  </tbody>
</table>