<nav class="bg-dark navbar navbar-dark navbar-expand-lg w-100">
  <%= render 'shared/navigation' %>
</nav>
<article class='container-fluid p-0 min-h-25'>
  <header id='article-title' class='align-items-center d-flex flex-column justify-content-center'>
    <span class="badge rounded-pill bg-light text-dark px-4 py-2">Productivity</span>
    <h1 class='fw-bolder text-white text-center text-shadow my-3'><%= @article.name %></h1>
    <p class='text-white text-shadow text-uppercase fspace-1'>James Clear</p>
  </header>
  <section class='flex-grow-1 container-fluid p-4'>
    <div class='row'>
      <div class='col-md-8 ps-3 pt-3'><%= simple_format(@article.body) %></div>
      <div class='col-md-4'>
        <h2>Comments (26)</h2>
        <button type='button' class='btn btn-secondary w-100 text-white' role='button'>Add Comment</button>
        <form action="" class='py-3' id='commentsForm'>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Enter your name</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Enter your comment</label>
          </div>
          <button type="submit" class='btn btn-dark mt-3'>Submit</button>
        </form>
        <ul class='list-group list-group-flush'>
          <li class='list-group-item p-2'>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 fw-bolder">Anna Gabriel</h5>
                <small class='text-muted'>3 days ago</small>
              </div>
            <p class='mb-1'>You always give good advice. What would you say to someone?</p>
          </li>
          <li class='list-group-item p-2'>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 fw-bolder">Anna Gabriel</h5>
                <small class='text-muted'>3 days ago</small>
              </div>
            <p class='mb-1'>You always give good advice. What would you say to someone?</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</article>