<nav class="bg-dark navbar navbar-dark navbar-expand-lg sticky-top w-100">
  <%= render 'shared/navigation' %>
</nav>
<section class='container-fluid row m-0 p-0' id='signup'>
  <div class="col-6">
  </div>
  <div class='col-6 p-4'>
    <h1 class='text-center'>Signup</h1>
    <%= render 'form', user: @user %>
  </div>
</section>
