<div class="bg-light mb-4 mt-4 mx-5 p-5 rounded-3 text-center align-self-center" id="homepage">
	<div class="container-fluid py-5">
		<h2 class="display-5 fw-bold text-light text-shadow">Writer's Block</h2>
		<p class="fs-3 text-light text-shadow">Showcasing content for full stack web developers</p>
		<button class="btn btn-primary btn-lg" type="button">Sign up</button>
	</div>
</div>
