<div id="homepage" class="carousel slide carousel-fade h-100" data-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#homepage" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#homepage" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#homepage" data-bs-slide-to="2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
			<img src="https://source.unsplash.com/WLUHO9A_xik", class='d-block w-100 h-auto'>
      <div class="carousel-caption d-block">
        <h3 class='fs-1'>Article one</h3>
        <a href="#" class='btn btn-outline-light'>Read more</a>
      </div>
    </div>
    <div class="carousel-item">
			<img src="https://source.unsplash.com/hopX_jpVtRM", class='d-block w-100 h-auto' id='test'>
    </div>
    <div class="carousel-item">
			<img src="https://source.unsplash.com/WLUHO9A_xik", class='d-block w-100 h-auto'>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#homepage" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homepage" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>