/* =====================
    SITE SECTION
  ====================== 
*/

#article-form {
  textarea {
    height: 30vh;
  }
}
#article-title {
  height: 50vh;
  background-position: center;
  background-size: cover;
}
#commentsForm {
  textarea {
    height: 150px;
  }
}