
/*********************************** 
  || Table of Contents          ||
  ||  A. Global Styles          ||      
  ||  B. Content                ||   
  ||  C. Color Styles           ||    
  ||  D. Components             ||  
  ||  E. Layout/Utilities       ||  
***********************************/
/* =====================
    A. GLOBAL STYLES
  ====================== 
*/
@import 'bootstrap/dist/css/bootstrap';

html,
body {
	width: 100vw;
  max-width: 100%;
	position: absolute;
}
a {
  text-decoration: none;
}
/* =====================
    E. UTILITIES
  ====================== 
*/
/* || Background */
.bg-light-grey {
	background-color: lightgrey;
}
/* || Text */
.text-shadow {
	text-shadow: black 1px 0 10px;
}
