/* =====================
    SITE SECTION
  ====================== 
*/
/* || NAVIGATION BAR */

#logo {
	letter-spacing: -1px;
}

#homepage {
	background-image: asset-url('writing.jpg'); // returns url(/assets/writing.png)
	background-size: cover;
	background-position: bottom;
}
#copyright {
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
