/* =====================
    SITE SECTION
  ====================== 
*/
#signup {
  div:first-child {
    background-image: url(https://source.unsplash.com/QNkQ5JZPoX4);
    background-size: cover;
  }
}
